body {
    background:         #cc0000 url(images/page_bkg.gif);
    color:              #fff;
    margin-left:        0;
    margin-top:         0;
}

a {
    text-decoration:    none;
    border-bottom:      1px dotted #fff;
}

a:hover {
    text-decoration:    none;
    background-color:   #ffffc0;
    border-bottom:      1px solid #0d5a16;
    color:              #0d5a16;
}

#maintext a {
    color:              #e00000;
    font-weight:        bold;
	border-bottom:      1px dotted #e00000;
}

#maintext a:hover {
    text-decoration:    none;
    background-color:   #ffffc0;
    border-bottom:      1px solid #0d5a16;
    color:              #0d5a16;
}

a.plain, #maintext a.plain {
    border:             none;
    font-weight:        normal;
}

a.plain:hover, #maintext a.plain:hover {
    border:             none;
    font-weight:        normal;
    background:         none;
}

h2 {
	background-color: 	#f9f9f9;
    border-top:         1px solid #c00000;
    font-size:          1.5em;
    font-variant:       small-caps;
    text-align:         center;
    color:              #0d5a16;
    font-weight:        bold;
    margin-top:         0.9em;
    margin-bottom:      0.5em;
	margin-left:		3em;
	margin-right:		3em;
}

h3 {
	font-size:			1.2em;
	font-weight:		bold;
	color:              #0d5a16;
	text-align: 		center;
	background-color:	#ffffc0;
	border-top:         1px dotted #c00000;
	width:				50%;
	margin:				auto;
}

h4 {
	font-size:			1.2em;
	font-weight:		bold;
	text-align:			left;
	color:				#cc0000;
	border-top:         1px solid #0d5a16;
	padding-left:	    1em;
	width:              70%;
}

strong {
    font-weight:        bold;
}

em {
    font-style:         italic;
}

td {
	color:              #0000ff;
}

th {
	font-weight: 		bold;
	color: 				#0000ff;
	background-color: 	#ffffc0;
	text-align: 		center;
	vertical-align: 	middle;
}

li {
	list-style-type:	square;
	margin-left:		3em;
}

.ranmaeakane {
    width:              200px;
    height:             270px;
    z-index:            1;
    left:               0;
    top:                0;
    border:             none;
}

.mainbody {
    background:        url(images/table_border_bkg.gif);
    z-index:           2;
    padding:           14px;
    text-align:        left;
}

.pagetitle {
    font-family:        "Arial Black", Helvetica, sans-serif;
    font-size:          1.5em;
    color:              #0d5a16;
    background-color:   #ffffc0;
    margin-bottom:      0.5em;
    padding:            0.1em;
}

.pagetitle .sitetitle {
    color: rbg(153, 153, 153);
    font-size: 1.2rem;
}

.maintext {
    background:         #ffffff;
    color:              #0000ff;
    top:                0;
    left:               0;
}

.pagecontent {
	background:			#ffffff url(images/text_area_bkg.gif) bottom repeat-x;
    padding:            0.3em;
}

#newspanel {
    max-height: 100vh;
    overflow-y: scroll;
}

.highlight_section {
    background-color:   #c0ffff;
}

.leftmenu {
    color:              #fff;
    left:               0;
    top:                290px;
    text-align:         right;
}

.menu_header {
    color:              #ffffc0;
    font-family:        "Arial Black", Helvetica, sans-serif;
    font-size:          1.2em;
    text-align:         right;
}

.leftmenu li {
    list-style-type:    none;
    left:               0;
	margin-left:		-3em;
}

.leftmenu li a {
    color:              #fff;
    font-family:        Tahoma, Helvetica, sans-serif;
    font-size:          0.8em;
    text-decoration:    none;
}

.leftmenu li a:hover {
    text-decoration:    none;
    background-color:   #ffffc0;
    border-bottom:      1px solid #0d5a16;
    color:              #0d5a16;
}

.citazione {
    width:              70%;
    font-style:         italic;
    margin-left:        4em;
    padding-left:       1em;
    border-left:        1px dotted #cc0000;
}

.faq_reply {
	margin-left:        2em;
	width:				90%;
	text-align:			justify;
}


#ft {
    font-family:        Tahoma, Helvetica, sans-serif;
    font-size:          small;
    font-weight:        bold;
    color:              #fff;
}

#ft a {
    color:              #fff;
    font-style:         italic;
}

#ft a:hover {
    color:              #0d5a16;
    font-style:         normal;
}

#ft2 {
    font-size:          x-small;
    font-weight:        normal;
}

.datatable {
	background-color:	#ffffff;
	border-top: 		1px solid #cdcdcd;
	border-bottom: 		3px solid #cdcdcd;
	padding: 			0.3em;
	margin-left:		2em;
	margin-right:		2em;
}

.datatable td, .datatable th {
	border-left:		1px solid #cdcdcd;
	border-right:		1px solid #cdcdcd;
	padding: 			2px;
}

.datatable tr {
	border-top: 1px dotted #cecece;
}

.datatable tr.even {
    background-color:   #edf3fe;
}

.datatable-caption, .table thead th.datatable-caption {
	color:				#0d5a16;
	/* font-weight:		bold;
	font-size:			1.2em;
	padding-bottom:		0.5em;
	padding-top:		0.5em; */
	background-color:	#ffffc0;
}

.datatable-text {
	padding:			0.5em;
}

.charimage {
	border:	 			1px solid #cdcdcd;
}

.backbutton {
	display: 			block;
	line-height:		30px;
	background:			#c0ffff url(images/panda_r.gif) left center no-repeat;
	padding-left:		35px;
	border-top:         1px solid #c00000;
}

.backbutton a {
	line-height:		30px;
}

.left-column {
    min-width: 230px;
    max-width: 230px;
    width: 230px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}
.right-column {
    margin-left: 200px;
    width: calc(100% - 200px);
}
.right-column header {
    text-align: right;
}

.card-title {
    color: #0d5a16;
    background-color: #ffffc0;
}

.card-text {
    color: #0000ff;
}

.table, .table thead th, .table tbody td, .table th, .table td, .blockquote, .blockquote-footer {
    color: #0000ff;
}

.volume-card-header {
	color:				#cc0000;
    font-weight: 500;
    font-size: 1.25rem;
}

.blockquote, .blockquote-footer {
    border-left:        1px dotted #cc0000;
    padding-left:       1em;
}

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 40%;
    margin: 1em 0 1em 0;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767.98px) {
    .left-column {
        background: #cc0000 url(images/page_bkg.gif);
        border-right: 4px solid #ceb654;
    }

    .right-column {
        margin-left: auto;
        width: auto;
    }

    .leftmenu {
        margin-top: 30px;
    }

    .pagetitle {
        font-size: 1.1rem;
    }

    .pagetitle .sitetitle {
        font-size: .8rem;
    }

    .responsive-img {
        width: 80px;
        height: auto;
    }

}